.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  margin-top: 36px;
  flex-grow: 1;
}

.wrapper-title {
  font-size: 20px;
}

.img {
  margin-top: 20px;
  width: 240px;
  height: 240px;
}
