.totalPriceWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
}

.totalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
}

.totalPrice__price {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 36px;
  margin-right: 10px;
}

.totalPriceWrapper svg {
  transform: scale(1.5);
}
